# --- INFLUXDB CONFIG ---
INFLUX_TOKEN=TOKEN
INFLUX_ORG=myfactory
INFLUX_BUCKET=sensors
INFLUX_URL=http://influxdb:8086

# --- MQTT CONFIG ---
MQTT_BROKER=mosquitto
MQTT_PORT=1883
MQTT_TOPIC=factory/line1/data